<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>AI PDF Analyzer</title>


</head>

<body>
    <div id="load">
        <div class="spinner"></div>
             <p>Processing...</p>
        </div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">

    <div class="header">
        <h1>AI DOCUMENT ANALYZER</h1>
    </div>

    <div class="upload-section">
    <input type="file" id="pdfFile" accept=".pdf,.txt,.docx,.png,.jpg,.jpeg" multiple hidden> 
    <button type="button" id="uploadBtn">
        Choose Files
    </button>
    <span id="fileInfo">
        supported formats: pdf, txt, docx, png, jpg, jpeg
    </span>
    

    <div class="preview" id="preview"></div>

</div>

    <div class="chat-container" id="chatContainer">

        
        <div class="sample-questions" id="sampleQuestions">
    <button onclick="useQuestion('Summarize the document')">
        Summarize
    </button>

    <button onclick="useQuestion('What are the key insights?')">
        Key Insights
    </button>

    <button onclick="useQuestion('List important data and numbers')">
        Important Data
    </button>

</div>

    </div>
    
    <div class="input-section">
        
        <input
            type="text"
            id="questionInput"
            placeholder="Ask a question..."
        >
        
        <button id="sendBtn" class="send-btn" onclick="sendQuestion()">
            Send
        </button>

    </div>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>